.git
.gitignore
node_modules
vendor
.env
.env.*
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/debugbar
bootstrap/cache/*.php
tests
docker-compose.yml
Dockerfile
storage/framework/*
storage/logs/*